@import '../sass/includes/vars';
@import '../sass/includes/body';
@import 'hamburgers/_sass/hamburgers/hamburgers.scss';
@import '../sass/includes/header';
@import '../sass/includes/welcome';
@import '../sass/includes/services';
@import '../sass/includes/providers';
@import '../sass/includes/apps';

@import 'swiper/swiper.scss';
@import 'swiper/swiper-vars.scss';
@import 'swiper/modules/navigation/navigation.scss';
@import 'swiper/modules/pagination/pagination.scss';
@import '../sass/includes/slider';


@import 'fontawesome-free/scss/regular.scss';
@import '../sass/includes/checkout';

