
.apps {
  margin-top: 1rem;
  padding: 0 .625rem;
}

.apps__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

.apps_desc{
  margin-top: 1rem;
  color: $color2;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.875rem;
}

.apps__btn {
  margin-top: 1rem;
}

.apps__img {
  display: none;
}

@media screen and (min-width: 760px) {
  .apps {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .apps__title {
    max-width: 15.875rem;
  }
  .apps_desc {
    max-width: 26.25rem;
    margin-top: 3.75rem;
  }
  .apps__btn {
    margin-top: 2.5rem;
  }
  .apps__img {
    display: block;
  }
}

@media screen and (min-width: 1265px) {
  .apps__underline {
    border-bottom: 2px solid $color3;
    padding-bottom: 1.875rem;
  }
  .apps__article {
    padding-left: 5rem;
  }
}