.footer {
  margin-top: 5rem;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $color4;
  padding: .8rem .8rem;
}

.footer-icon {
  background: $color4;
  color: #5B9BF3;
}

.footer__desc {
  padding-top: 2rem;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 28px;
}

.footer__item {
  list-style: none;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 300;
}

.footer__item--title{
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 1.5rem;
    padding: 2rem 3rem;
  }
  .footer__desc{
    max-width: 390px;
    padding-bottom: 2.5rem;
  }
  .footer__item--title{
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .footer {
    padding: 6.25rem 11.875rem;
  }
}