.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}

.logo__icon {
  background: $color1;
  color: $color4;
  font-size: 1.625rem;
  font-weight: bold;
  padding: 8px 17px;
  border-radius: 50%;
}

.logo__text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.header__nav {
  position: fixed;
  top:0;
  right: 0;
  height: 100%;
  width: 100%;
  background: $color1;

  display: flex;
  justify-content: center;
  transform: translateX(100%);
}

.header__nav.is-active {
  transform: translateX(0);
  transition: .5s;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hamburger {
  display: block;
  z-index: 100;
  padding-right: 1.5rem;
}

.menu__link {
  text-decoration: none;
  color: $color4;
  margin-left: 1.5rem;
}

.menu__link:hover {
  color: #1F1534;
}

@media screen and (min-width: 760px) {
  .hamburger {
    display: none;
  }
  .header__nav {
    position: static;
    transform: unset;
    background: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  .nav__menu {
    flex-direction: row;
    padding-right: 1rem;
  }
  .menu__link {
    color: $color2;
  }
}